.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px) {

    html {
        font-size: 87.5%; /* como utilizamos a unidade de medida em rem, aplicar porcentagem quando é mobile para o tamanho da fonte ficar proporcional.*/
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}